name: Build EntglStudio

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        include:
          - os: windows-latest
            rid: win-x64
            ext: .exe
          - os: ubuntu-latest
            rid: linux-x64
            ext: ""
          - os: macos-latest
            rid: osx-x64
            ext: ""

    steps:
    - uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore tools/EntglStudio/EntglStudio.csproj

    - name: Build
      run: dotnet build tools/EntglStudio/EntglStudio.csproj --no-restore --configuration Release

    - name: Publish
      run: dotnet publish tools/EntglStudio/EntglStudio.csproj --no-build --configuration Release --runtime ${{ matrix.rid }} --self-contained true -p:PublishSingleFile=true -o release/${{ matrix.rid }}

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: entgl-studio-${{ matrix.rid }}
        path: release/${{ matrix.rid }}/EntglStudio${{ matrix.ext }}
